body{
	background-image: url("./trip.jpg");
	background-repeat: no-repeat;
	background-image: cover;
	
}

*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
/* body {
    background-image: url("C:/Users/laksh/OneDrive/College/MERN/reactapp-router/my-project/src/image/london.jpg");
    background-repeat: no-repeat;
    background-image: cover;
    
  
} */

* {

    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.navbar{
    display: flex;
    justify-content: space-around;
    background:none;
}
.logo {
	display:flex;
    padding-right: 500px;
}
.navlink{
    display: flex;
    font-size: 20px;
    padding: 10px;
    gap: 20px;
    list-style-type: none;
    color: white;
    text-decoration: none;
}
.nav1 a:hover{
    color: black;
}
.center1 {
    text-align: center;
    color: white;
    font-size: 60px;
    padding-top: 70px;
}
.center2 {
    font-size: 19px;
    padding-top: 80px;
    font-weight: 20px;
}

.button1 {
    border-radius: 25px;
    height: 60px;
    width: 180px;
    color: white;
    background:none;
    justify-content: center;
}

.button1 a:hover {
    color: black;
}

  

 
