* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  background-color: rgb(227, 174, 192);
  background-image: url("./eiffel.jpg");
	background-repeat: no-repeat;
	background-image: cover;
  
}

.logo {
  justify-content: start;
  align-items: left;
  /* padding-right: 500px; */
  padding: 30px 300px;
}
.flex {
  display: flex;
  background-color: white;
  height:104px;
  width: 1230px;
  gap:10px;
  align-items: right;
  justify-content: right;
  
}

.f1 {
  padding: 35px;
  font-size: 25px;
}

.f2 {
  padding: 35px;
  font-size: 25px;
}

.f3 {
  padding: 35px;
  font-size: 25px;
}


.f4 {
  padding: 35px;
  font-size: 25px;
}

.f5 {
  padding: 35px;
  font-size: 25px;
}

#p1 {
  font-size: 96px;
  font-family: prompt;
  color: white;
  font-weight: 600px;
  padding-left: 140px;
  padding-top: 140px;
}

#p2 {
  font-size: 30px;
  font-family: Lato;
  padding-left: 140px;
  color: whitesmoke;

}

.b1 {
  display: flex;
  width: 800px;
  padding-left: 140px;
  padding-top: 100px;
  color: white;
}







